@mixin transition($sec) {
    transition: all $sec;
    
};

@mixin bgImage($height, $url) {
    height: $height;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba($secondary-color, 0.8), 
        rgba($green-color, 0.1) 
    ),url($url);
    background-position: center center;
    background-size: cover;
};

@mixin media-xsm {
    @media screen and (max-width: 0px){
        @content
    }
};
@mixin media-sm {
    @media screen and (max-width: 576px){
        @content;
    }
};
@mixin media-md {
    @media screen and (max-width: 768px){
        @content;
    }
};
@mixin media-lg {
    @media screen and (max-width: 1024px){
        @content;
    }
};
@mixin media-xl {
    @media screen and (max-width: 1600px){
        @content;
    }
};