.about-bgImg-container{
    @include bgImage(50vh, $main-bgImage-path);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .nav__list{
        padding: 0.7rem;
    }

    .nav__link{
        font-size: 24px;
    }
}

.about__bio-image{
    color: $text-color;
    text-align: center;
    h2{
        font-size: 3rem;
        color: $primary-color;
    }
    p{
        font-size: 1.2rem;
        font-weight: 500;
        margin: 2rem;
    }
}

.about{
    color: $text-color;
    &__container{
        width: 70vw;
        margin: 2rem auto;

    }
    .about__job{
        background: lighten($secondary-color, $amount: 0);
        padding: 0rem 2rem;
        border-bottom: 5px solid;

        h2,h3{
            margin: 0.5rem 0rem;
            font-size: 3rem;
        }
        p{
            text-align: justify;
            font-size: 1.5rem;
        }
    }
}
