.link-style{
    a{
        color: white;
        padding: 0.4rem;
        @include transition(1sn);

        &:hover{
            color: $secondary-color;
        }
    }
}


.horizantal{
    @extend .link-style;
    .social-icons{
        position: fixed;
        bottom: 1rem;
    }
    .copyright{
        position: fixed;
        bottom: 2rem;
        right: 3rem;
    }
}


.vertical{
    @extend .link-style;
    .social-icons{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 1rem;
    }
    .copyright{
        position: fixed;
        bottom: 4rem;
        right: 1rem;
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}
