.link-style{
    a{
        color: white;
        padding: 0.4rem;
        @include transition(1sn);

        &:hover{
            color: $secondary-color;
        }
    }
}


.horizantal{
    @extend .link-style;
    .social-icons{
        position: fixed;
        bottom: 1rem;
    }
    .copyright{
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 1.5rem;
        right: 3rem;
    }
}


.vertical{
    @extend .link-style;
    .social-icons{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 1rem;
    }
    .copyright{
        position: fixed;
        justify-content:left;
        bottom: 5rem;
        right: -1rem;
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}
