.nav{
    padding: 1rem;
    height: 10vh;
    position: relative;
    background-color: #2F7373;

    #burger{
        display: none;


    }

    .nav__bg{
        font-size: 2rem;
        color: white;
        float: right;
        margin-right: 2rem;
        display: none;
    }
    &__list{
        text-align: right; 
    }
    &__item{
        display: inline;
        padding: 1rem;
    }
    &__link{
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        @include transition(1s);

        &:hover{
            color: $secondary-color;
        }
        
    }
}

.active{
    color: $secondary-color;
}


.nav #burger:checked ~ ul{
    left: 0;
}

.nav #burger:checked ~ label.nav__bg i::before{
    content: "\f00d";
}