@import "./base/reset";

@import "./abstracts/mixin", "./abstracts/variables";

@import "./components/footer", "./components/nav", "./components/responsive", "./components/side";

@import "./pages/about","./pages/contact","./pages/home","./pages/projects";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

body{
    font-family: $font-family;
    color: $secondary-color;
    background-color: $primary-color;
    line-height: 1;
    height: 100vh;
}

a{
    text-decoration: none;
    color: $primary-color;
}

h1,h2,h3{
    font-weight: 400;
}