@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-bgImg-container {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(30, 69, 62, 0.8), rgba(44, 124, 7, 0.1)), url("./img/background.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-bgImg-container .nav__list {
  padding: 0.7rem;
}
.about-bgImg-container .nav__link {
  font-size: 24px;
}

.about__bio-image {
  color: #eee;
  text-align: center;
}
.about__bio-image h2 {
  font-size: 3rem;
  color: #C0C0C0;
}
.about__bio-image p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2rem;
}

.about h2, .about h3 {
  color: #C0C0C0;
}
.about p {
  color: #eee;
}
.about__container {
  width: 70vw;
  margin: 2rem auto;
}
.about .about__job {
  background: #1e453e;
  padding: 0rem 2rem;
  border-bottom: 5px solid #eee;
}
.about .about__job h2, .about .about__job h3 {
  margin: 0.5rem 0rem;
  font-size: 3rem;
}
.about .about__job p {
  text-align: justify;
  font-size: 1.5rem;
}

.contact-bgImg-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(30, 69, 62, 0.8), rgba(44, 124, 7, 0.1)), url("./img/background.jpg");
  background-position: center center;
  background-size: cover;
}
.contact-bgImg-container nav {
  height: 40vh;
}

.contact {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.5rem;
}
.contact .text-secondary {
  color: #eee;
}
.contact i {
  color: #C0C0C0;
}

.copyright {
  color: #eee;
}

.bgImg-container {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(30, 69, 62, 0.8), rgba(44, 124, 7, 0.1)), url("./img/background.jpg");
  background-position: center center;
  background-size: cover;
}

.id {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: #C0C0C0;
}
main h1 {
  width: 100%;
  font-size: 5rem;
  padding: 1rem;
  border-bottom: 1px solid white;
}
main h1 span {
  color: #C0C0C0;
}
main h2 {
  color: #eee;
}

.projects-bgImg-container {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(30, 69, 62, 0.8), rgba(44, 124, 7, 0.1)), url("./img/background.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects-bgImg-container .projects__bio-image {
  text-align: center;
  font-size: 50px;
  margin-bottom: 1rem;
}
.projects-bgImg-container .projects__bio-image h2 {
  color: #C0C0C0;
}

.projects__items {
  padding: 1rem 1rem;
  gap: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects__item {
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.projects__item p, .projects__item h2 {
  color: black;
}
.projects__item img {
  width: 600px;
  height: 300px;
}
.projects__item:hover .projects__content {
  transform: translateX(0%);
}
.projects__img {
  object-fit: cover;
  position: relative;
  width: 26px;
  height: 26px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.projects__content {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  padding: 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.link-style a, footer.middle a, footer.vertical a, footer.horizantal a {
  color: white;
  padding: 0.4rem;
  transition: all 1sn;
}
.link-style a:hover, footer.middle a:hover, footer.vertical a:hover, footer.horizantal a:hover {
  color: #1e453e;
}

footer.horizantal {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}
footer.horizantal .social-icons {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 1rem;
}
footer.horizantal .copyright {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
}

footer.vertical {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}
footer.vertical .social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
}
footer.vertical .copyright {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  transform: rotate(90deg) translate(-3rem, -5rem);
}

footer.middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
  margin-top: 3rem;
}

.nav {
  padding: 1rem;
  height: 10vh;
}
.nav__list {
  text-align: right;
}
.nav__item {
  display: inline;
  padding: 1rem;
}
.nav__link {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 1s;
}
.nav__link:hover {
  color: #1e453e;
}
.nav__link--active {
  color: #1e453e;
}

@media screen and (min-width: 0px) {
  .nav {
    padding: 0.5rem;
  }
  .nav__list {
    text-align: center;
  }
  .nav__item {
    padding-right: 0.7rem;
  }
  .nav .nav__link {
    font-size: 0.9rem;
  }
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact__list {
    gap: 2rem 1.2rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 576px) {
  .nav {
    padding: 0.7rem;
  }
  .nav__list {
    text-align: right;
  }
  .nav__item {
    padding-right: 1rem;
  }
  .nav .nav__link {
    font-size: 1rem;
  }
  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .contact__list {
    gap: 2.5rem 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav__item {
    padding-right: 1.3rem;
  }
  .nav .nav__link {
    font-size: 1rem;
  }
  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .contact__list {
    gap: 2.5rem 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav__item {
    padding-right: 1.5rem;
  }
  .nav .nav__link {
    font-size: 1.5rem;
  }
  .projects_item {
    width: 50%;
  }
  .contact__list {
    flex-direction: row;
  }
}
@media screen and (min-width: 1600px) {
  .projects_item {
    width: 33%;
  }
}
body {
  font-family: "segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1e453e;
  background-image: radial-gradient(#1e453e, green);
  line-height: 1;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #C0C0C0;
}

h1, h2, h3 {
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
